
/* Elements
----------------------------------------------------*/

h2 {
    flex: none;
    font-family: coffee;
    font-size: 80px;
    color: rgb(242, 242, 242);
}

h3 {
    font-family: coffee;
    font-size: 65px;
    color: rgb(242, 242, 242);
}

h4 {
    font-family: coffee;
    font-size: 50px;
    border: solid rgb(242, 242, 242);
    border-radius: 15%;
    background-color: rgba(0, 0, 0, .5);
}

/* attempt to remove link color from blue */
a { 
    color: rgb(242, 242, 242);
}

/* ID's
---------------------------------------------------*/

/* Universal
-------------------*/
#pageContent {
    background-color: #721414;
    display: flex;
    flex-direction: column;
}


#navContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100px;
}


#bio1 {
    position: relative;
    text-align: center;
    font-family: punk;
    color: rgb(242, 242, 242);
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
}


#bio2 {
    position: relative;
    text-align: center;
    font-family: punk;
    color: rgb(242, 242, 242);
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
}

#bio3 {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    background-position: center;
    width: 100vw;
}


#bioPic1 {
    align-self: center;
    width: 200px;
    height: 200px;
    border: solid rgb(242, 242, 242);
    border-radius: 50%;
}

#pageBG {
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#pageLogo {
    justify-content: center;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 50px;
}

#resContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: punk;
    color: rgb(242, 242, 242);
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100%;
}

#resumeIMG {
    animation: fadeIn 8s;
    align-self: center;
}


#linkSect1 {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: punk;
    color: rgb(242, 242, 242);
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
}

#gitHubImg {
    width: 500px;
    height: 400px;
}

#gmailImg {
    width: 500px;
    height: 583px;
}

#contactsHeader {
    position: relative;
    font-size: 75px;
    padding-left: 20px;
    padding-right: 20px;
}

#headShot1 {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#projContainer {
    position: relative;
    display: flex;
    text-align: center;
    font-family: punk;
    color: rgb(242, 242, 242);
    background-color: rgba(0, 0, 0, .5);
}

    #proj1 {
        flex-direction: row;
        text-align: center;
        width: 100vw;
        height: 800px;
        position: relative;
        background-color: rgba(0, 0, 0, .5);
        border: solid rgba(114, 20, 20, .8);
        border-style: dotted;
    }

    #proj2 {
        flex-direction: row;
        text-align: center;
        width: 100vw;
        height: 800px;
        position: relative;
        background-color: rgba(0, 0, 0, .5);
        border: solid rgba(114, 20, 20, .8);
        border-style: dotted;
    }

    #projIMG1 {
        margin-top: 0;
        padding-top: 0;
        height: 460px;
    }

    #projIMG2 {
        height: 400px;
    }

    #projText {
        justify-content: space-around;
        position: relative;
        font-size: 60px;
        text-align: center;
        color: rgb(242, 242, 242);
        border: solid rgba(114, 20, 20, .8);
        background-color: rgba(0, 0, 0, .5);
        margin-bottom: 0;
        margin-top: 0;
    }


/* Classes
-----------------------------------------------------------------*/

.thisPage {
    background-color: rgba(114, 20, 20, .8);
}

.navButtons {
    font-size: 100%;
    font-family: punk;
    color: rgb(242, 242, 242);
    text-size-adjust: auto;
    background-color: rgba(114, 20, 20, .5);
    border-radius: 15px;
    width: 18vw;
}

.BioText {
    position: relative;
    font-size: 30px;
    font-family: coffee;
    color: rgb(242, 242, 242);
    width: 75vw;
    margin-top: 80px;
    padding-bottom: 500px;
    text-shadow: 1px 1px 2px black;
}

.BioHobbies {
    margin: 0;
    padding: 0;
}

.marginH3 {
    margin-top: 0;
    margin-bottom: 0;
}

.contactColor {
    animation: color-change 4s infinite;
}

/* fonts 
----------------------------------------------*/
@font-face {
    font-family: punk;
    src: url(./fonts/1\ Punk.ttf)
}

@font-face {
    font-family: skulls;
    src: url(./fonts/skullcap.ttf)
}

@font-face {
    font-family: coffee;
    src: url(./fonts/Coffee-Mood.ttf)
}
/* keyframes
--------------*/

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes color-change {
    0% { color: rgb(242, 242, 242); }
    50% { color: #721414; }
    100% { color: rgba(0, 0, 0, .5); }
}

@keyframes grow {
    0% {transform: scale(1);}
    100% {transform: scale(2);}
}

@keyframes shrink {
    0% {transform: scale(2);}
    100% {transform: scale(1);}
}