
#pageContent {
    background-color: #721414;
}

#navContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

#pageBG {
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


#navLogo {
  
}

#navBio {

}

#navResume {

}

#navContact {

}

#navProjects {

}


.navLinks {
    border: solid black;
    background-color: black;
    font-size: 80px;
    color: whitesmoke;
}

.navButtons {
    border: solid black;
}