<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="../app.js" defer></script>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../imgs/skull360.gif" type="image/gif">
    <!--Gif does not work in chrome.... chrome kinda sucks 0-0-->
    <title>Contact Me</title>
</head>

<body id="pageContent">
    <img id="pageBG" src="../imgs/bg4.jpg">
    <div id="navContainer">
        <a href="../index.html"><button class="navButtons">Bio</button></a>
        <a href="../views/resume.html"><button class="navButtons">Resume</button></a>
        <img class="navLinks" src="../imgs/ezgif.com-gif-maker(5).gif">
        <a href="../views/projects.html"><button class="navButtons">Projects</button></a>
        <button class="navButtons"> <a>Contact Me</a> </button>
    </div>

    <div id="linkSect1">
        <p id="contactsHeader" class="contactColor">reach out</p>
        <h4><a href="mailto:sethjohnsoncoding@gmail.com">SethJohnsonCoding@gmail.com</a></h4>
        <h4><a href="mailto:sethjohnsonwelding@gmail.com">SethJohnsonWelding@gmail.com</a></h4>
        <h4><a href="https://www.linkedin.com/in/seth-johnson-46a792263/">Linkedin</a></h4>
        <h4><a href="https://github.com/Bones0689">GitHub</a></h4>
    </div>
</body>

<footer>

</footer>

</html>