<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../imgs/skull360.gif" type="image/gif">
    <!--Gif does not work in chrome.... chrome kinda sucks 0-0-->
    <title>Projects</title>
</head>

<body id="pageContent">
    <img id="pageBG" src="../imgs/altBG3.jpg">
    <div id="navContainer">
        <button class="navButtons"> <a href="../index.html">Bio</a> </button>
        <button class="navButtons" > <a href="../views/resume.html">Resume</a> </button>
        <img class="navLinks" src="../imgs/ezgif.com-gif-maker(5).gif">
        <button class="navButtons" > <a>Projects</a> </button>
        <button class="navButtons" > <a href="../views/contact.html">Contact Me</a> </button>
    </div>
    
    <div id="proj1">
        <h3 class="marginH3"><u>SPACE BATTLE!</u></h3>
        <p id="projText">A simple yet fun terminal game</p>
        <img id="projIMG1"  src="../imgs/Projects1.png">
    </div>

    <div id="proj2">
        <h3 class="marginH3"><u>HANGMAN!</u></h3>
        <p id="projText">A new take on the classic</p>
        <img id="projIMG2" src="../imgs/projects2.png">
    </div>

</body>

<footer>

</footer>

</html>