<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="../resume.js" defer></script>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../imgs/skull360.gif" type="image/gif">
    <title>Resume</title>
</head>

<body id="pageContent">
    <img id="pageBG" src="../imgs/altBG2.jpg">
    <div id="navContainer">
        <a href="../index.html"><button class="navButtons">Bio</button></a> 
        <button class="navButtons"> <a>Resume</a> </button>
        <img class="navLinks" src="../imgs/ezgif.com-gif-maker(5).gif">
        <a href="../views/projects.html"><button class="navButtons">Projects</button></a>
        <a href="../views/contact.html"><button class="navButtons">Contact Me</button></a>
    </div>
    <div id="resContainer">
     <img id="resumeIMG" src="../imgs/resume1.png"> 
    </div>

</body>

<footer>

</footer>

</html>